	<!-- Header Section -->
 	<div id="header">
    	<div class="mdl-layout__content homePageMainSection">
        	<div class="logo-font-header slogan-header">Estudando em boa companhia</div>
       	 	<div class="logo-font-header sub-slogan-header">Plataforma de dojos para estudantes se conectarem</div>
   			<button class="btn btn-primary">Veja como</button>     
   		</div>

	<!-- Dojo Section -->
	<section id="dojo" class="content-section text-center">
		<div class="row">
	          <div class='col-md-12 no-horizontal-padding'>
	            <div class='row'>
	                <div id='t1' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='http://s.codepen.io/AlexTicovschi/debug/pNmbrw/dGrXWmwjoQvM' target="_blank">
		                	<div class='text-center'><i class="fa fa-code"></i>
		                	</div>
	                	</a>
	                	<h4>Programação</h4>
	                </div>

	                <div id='t2' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='http://s.codepen.io/AlexTicovschi/debug/ygBdbB/PBMNWGVRoREr' target="_blank">
		                	<div class='text-center'><i class="fa fa-calculator"></i>
		                	</div>
	                	</a>
	                	<h4>Calculo</h4>
	                </div>

	                <div id='t3' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                    <a href='http://s.codepen.io/AlexTicovschi/debug/pRJqEM/VGrWNQBGPOmM' target="_blank">
		                	<div class='text-center'><i class="fa fa-thermometer-2"></i>
		                	</div>
	                	</a>
	                	<h4>Exatas</h4>
	                </div>

	            </div>
	            <div class='row'>
	                <div id='t4' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='http://codepen.io/AlexTicovschi/full/dvBQxe/' target="_blank">
		                	<div class='text-center'><i class="fa fa-navicon"></i>
		                	</div>
	                	</a>
	                	<h4>Empreendedorismo</h4>
	                </div>
	                <div id='t5' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='http://codepen.io/AlexTicovschi/pen/qRVqZq' target="_blank">
		                	<div class='text-center'><i class="fa fa-gamepad"></i>
		                	</div>
	                	</a>
	                	<h4>Jogos</h4>
	                </div>

	                <div id='t6' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='http://codepen.io/AlexTicovschi/full/XRRbzg/' target="_blank">
		                	<div class='text-center'><i class="fa fa-tree"></i>
		               		</div>
	                	</a><h4>Ambiente</h4>
	                </div>
	            </div>
	            <div class='row'>

	                <div id='t7' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='' target="_blank">
	                		<div class='text-center'><i class="fa fa-bullseye"></i>
	                		</div>
	                	</a>
	                	<h4>Somente x</h4>
	                </div>

	                <div id='t8' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='' target="_blank">
	                		<div class='text-center'><i class="fa fa-sticky-note"></i>
	                		</div>
	                	</a>
	                	<h4>Somente y</h4>
	                </div>

	                <div id='t9' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='' target="_blank">
	                		<div class='text-center'><i class="fa fa-arrows-alt"></i>
	                		</div>
	                	</a>
	                	<h4>Outros</h4>
	                </div>

	            </div>
	          </div>
	      </div>
	</section>
</div>

<style>

.container {
   width: 100%;
}
 .homePageMainSection {
  height: 490px;
  width: 100%;
  background-color: #f3f3f3;
  background: url('http://henriquedutra.com.br/wp-content/uploads/2017/04/header.png') center 30% no-repeat;
  background-size: cover;
  padding-left: 40px;
}
.logo-font-header {
  line-height: 1;
  color: #ffffff;

}
.slogan-header {
  font-size: 75px;
  padding-top: 12%;
  font-weight: 100;
}
.sub-slogan-header {
  font-size: 21px;
  padding-top: 24px;
  padding-bottom: 14px;
  font-weight: 300;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 90px 0; 
}


#dojo {
  margin-right: 15px;
}

.tiles {
  margin-right: 0;
  margin-left: 0;
  float: left;
  height: 21rem;
  position: relative;
}

.tiles .fa {
  padding-top: 7rem;
  font-size: 8rem;
}

.tiles a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}

.tiles a:hover {
 color: #42DCA3;
}

#t1{ background: #FFC35F;}
#t2{ background: #E3625F;}
#t3{ background: #65A4ED;}
#t4{ background: #65A4ED;}
#t5{ background: #FFC35F;}
#t6{ background: #E3625F;}
#t7{ background: #E3625F;}
#t8{ background: #65A4ED;}
#t9{ background: #FFC35F;}


.tiles {
  position: relative;
  overflow: hidden;
  bottom: 0;
}
.tiles:hover h4 {
  bottom: 0;
}

.tiles h4 {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-bottom: 0;
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  color: #FFF;
  height: auto;
  bottom: -10rem;
  opacity: 1;
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%;
  transition: all 0.3s;
}


content-section {
  padding-top: 100px;
}

</style>
