	<!-- Header Section -->
 	<div id="header">
    	<div class="mdl-layout__content homePageMainSection">
        	<div class="logo-font-header slogan-header">Estudando em boa companhia</div>
       	 	<div class="logo-font-header sub-slogan-header">Plataforma de dojos para estudantes se conectarem</div>
   			<button class="btn btn-primary">Veja como</button>     
   		</div>

	<!-- Explanation Section -->

	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="http://henriquedutra.com.br/wp-content/uploads/2017/04/randori.png" alt="" class="icon">
						</div>
						<h4 class="heading">Randori</h4>
						<p class="description">Dojo em que há a participação de todos. É proposto um problema a ser resolvido e a solução será alcançada por pares. É imprescindível a utilização de um piloto, e seu par o co-piloto, onde a cada cinco minutos terá trocas de papeis com a entrada de um membro da plateia</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="http://henriquedutra.com.br/wp-content/uploads/2017/04/dojo.png" alt="" class="icon">
						</div>
						<h4 class="heading">Dojo em sua melhor forma</h4>
						<p class="description">Dojo, (pronuncia-se Dojô) é uma palavra de origem japonesa e significa “local de treinamento”. O codemat é uma plataforma para você se conectar com pessoas, sendo elas treinadores e pessoas com sede por conhecimento.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="http://henriquedutra.com.br/wp-content/uploads/2017/04/kata.png" alt="" class="icon">
						</div>
						<h4 class="heading">Kata</h4>
						<p class="description">Dojo em que existe a figura do apresentador. Ele deve demonstrar uma solução pronta, previamente desenvolvida. Todos os participantes devem ser capazes de reproduzir a solução alcançando o mesmo resultado</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>

	<!-- Dojo Section -->
	<section id="dojo" class="content-section text-center">
		<div class="row">
	          <div class='col-md-12 no-horizontal-padding'>
	            <div class='row'>
	                <div id='t1' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='#' target="_blank">
		                	<div class='text-center'><i class="fa fa-code"></i>
		                	</div>
	                	</a>
	                	<h4>C++</h4>
	                </div>

	                <div id='t2' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='#' target="_blank">
		                	<div class='text-center'><i class="fa fa-map-o"></i>
		                	</div>
	                	</a>
	                	<h4>Swift</h4>
	                </div>

	                <div id='t3' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='#' target="_blank">
		                	<div class='text-center'><i class="fa fa-thermometer-2"></i>
		                	</div>
	                	</a>
	                	<h4>Ruby</h4>
	                </div>

	            </div>
	            <div class='row'>
	                <div id='t4' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='#' target="_blank">
		                	<div class='text-center'><i class="fa fa-navicon"></i>
		                	</div>
	                	</a>
	                	<h4>Python</h4>
	                </div>
	                <div id='t5' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='#' target="_blank">
		                	<div class='text-center'><i class="fa fa-gamepad"></i>
		                	</div>
	                	</a>
	                	<h4>Javascript</h4>
	                </div>

	                <div id='t6' class='col-md-4 col-sm-6 col-xs-12 tiles'>
	                	<a href='#' target="_blank">
		                	<div class='text-center'><i class="fa fa-tree"></i>
		               		</div>
	                	</a><h4>Node</h4>
	                </div>
	            </div>
	          </div>
	      </div>
	</section>
</div>
