 <div id="home-page">
    <div class="mdl-layout__content homePageMainSection">
        <div class="logo-font-header slogan-header">Estudando em boa companhia</div>
        <div class="logo-font-header sub-slogan-header">Plataforma de dojos para estudantes se conectarem</div>
   		<button class="btn btn-primary">Veja como</button>     
   	</div>

</div>

<style>

.container {
   width: 100%;
}
 .homePageMainSection {
  height: 490px;
  width: 100%;
  background-color: #f3f3f3;
  background: url('http://henriquedutra.com.br/wp-content/uploads/2017/04/header.png') center 30% no-repeat;
  background-size: cover;
  padding-left: 40px;
}
.logo-font-header {
  line-height: 1;
  color: #ffffff;

}
.slogan-header {
  font-size: 75px;
  padding-top: 12%;
  font-weight: 100;
}
.sub-slogan-header {
  font-size: 21px;
  padding-top: 24px;
  padding-bottom: 14px;
  font-weight: 300;
}

</style>
