<footer class="footer-distributed">
  <div class="footer-right">
    <a href="https://github.com/DSW-1-2017/codemat"><i class="fa fa-github"></i></a>
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a href="#">Topo</a> ·
      <a href="https://github.com/DSW-1-2017/codemat/wiki">Wiki</a> ·
      <a href="#">Membros</a> ·
      <a href="#">Sobre</a>
      </p>
      <p>Learn and Meeting &copy; Desenho de Software 2017</p>
    </div>
</footer>
