<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Codemat</a>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li class="nav-item">
      <%= link_to "Entrar", login_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Nova Conta", new_user_path , class: "nav-link" %>
    </li>
  </ul>
</nav>
